.center .searchbox input {
  font-family: "PIX-L";
  padding: 0px 8px 8px 8px;
  border-radius: 16px;
}

.center .carroussel {
  margin-top: 80px;
  width: 60%;
  max-width: 1150px;
  height: 300px;
  position: absolute;

  overflow: hidden;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.carroussel::before {
  background: linear-gradient(
    to right,
    #292828 0%,
    rgba(255, 255, 255, 0) 100%
  );
  content: "";
  height: 300px;
  position: absolute;
  width: 200px;
  z-index: 2;
}

.carroussel::after {
  position: absolute;
  right: 0;
  top: 0;
  height: 300px;
  width: 200px;
  z-index: 2;

  background: linear-gradient(
    to right,
    #292828 0%,
    rgba(255, 255, 255, 0) 100%
  );
  transform: rotateZ(180deg);
  content: "";
}

.carroussel .line {
  display: flex;
  flex-wrap: nowrap;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 18));
  }
}

@keyframes scroll-right {
  0% {
    transform: translateX(calc(-250px * 18));
  }
  100% {
    transform: translateX(0);
  }
}

.carroussel .left {
  width: 100%;
  animation: scroll-left 60s linear infinite;
}

.carroussel .right {
  width: 100%;
  animation: scroll-right 60s linear infinite;
}

.line .word {
  text-align: center;
  min-width: 250px;
  font-size: 0.7em;
}

@keyframes zoom-in {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.16);
  }
}

@keyframes zoom-out {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.7);
  }
}

.line .found {
  color: white;
  animation: zoom-in 1s forwards;
}

.line .not-found {
  opacity: 0.2;
  animation: zoom-out 1s forwards;
}

@media only screen and (max-width: 1367px) {
  .section-container .center {
    margin-top: 24px;
  }
  .center .searchbox input {
    font-size: 0.8em;
  }
  .line .word {
    min-width: 175px;
  }

  @keyframes scroll-left {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-175px * 18));
    }
  }
  
  @keyframes scroll-right {
    0% {
      transform: translateX(calc(-175px * 18));
    }
    100% {
      transform: translateX(0);
    }
  }
}


@media only screen and (max-width: 600px) {
  .section-container .center {
    margin-top: 24px;
  }
  .searchbox {
    width: 90%;
  }
  .center .searchbox input {
    width: 100%;
    font-size: 0.6em;
    line-height: 2em;
    padding: 0px 10px;
  }
  .center .carroussel {
    width: 100%;
  }
  .line .word {
    min-width: 150px;
  }

  @keyframes scroll-left {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-150px * 16));
    }
  }
  
  @keyframes scroll-right {
    0% {
      transform: translateX(calc(-150px * 16));
    }
    100% {
      transform: translateX(0);
    }
  }
}
