.home-container {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-scroll-snap-type: y mandatory;
  scroll-snap-type: y mandatory;
}

.home-container .section-container {
  min-height: 600px;
}

.section-container {
  scroll-snap-align: start;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.section-container .img-filter {
  width: 100%;
  height: 100%;
  background-color: #2928289c;
  position: absolute;
  z-index: -1;
}

.img-filter::after {
  background: linear-gradient(to top, #292828 0%, rgba(255, 255, 255, 0) 100%);
  bottom: 0;
  content: "";
  height: 100px;
  position: absolute;
  width: 100vw;
}

.section-container .img-container {
  position: absolute;
  z-index: -2;
}

.img-container {
  position: absolute;
  z-index: -2;
}

@keyframes get-in {
  0% {
    transform: translateX(calc(200vw));
  }
  100% {
    transform: translateX(100vw);
  }
}

@keyframes get-out {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(calc(-100vw));
  }
}
.first-time-img {
  right: unset !important;
}

.img-example {
  position: absolute;
  width: 100vw;
  height: 100vh;
  min-height: 800px;
  right: 0;
  background-position: 50%;
  background-size: cover;
}

.get-in {
  animation: get-in 2s cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
}

.get-out {
  animation: get-out 2s cubic-bezier(0.76, 0.05, 0.86, 0.06) forwards;
}

.section-container .intro {
  min-height: 450px;
  height: 60vh;
  background-color: #111;
  width: 400px;

  position: absolute;
  bottom: 0px;
  left: 200px;
}

.intro .top {
  height: 10%;
  overflow: hidden;
}

@keyframes leet-scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-300px);
  }
}
.leet-carrousel {
  animation: leet-scroll-left 25s linear infinite;
}

.leet-carrousel span {
  font-size: 0.2em;
  margin-right: 5px;
}

.intro .main {
  height: 90%;
  padding: 0px 20px;
}

@keyframes wait-and-show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.intro-description {
  opacity: 0;
  animation: wait-and-show 3s 5s forwards;
}

.main .text {
  margin: 0;
  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.orange {
  color: orange;
}
.green {
  color: #4dfe28;
}
.blue {
  color: #28feea;
}
.black {
  color: #111;
}
.orange {
  color: orange;
}

.section-container .explanation {
  width: 100%;
  padding-left: 10vw;
  padding-top: 100px;
}

.description {
  max-width: 90%;
  font-size: 0.5em;
}
.little-description {
  color: #4dfe28;
  margin-top: 10px;
  font-size: 0.4em;
}

.section-container .center {
  margin-top: 80px;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 1281px) {
  .home-container {
    scroll-snap-type: none;
  }

  .section-container {
    scroll-snap-align: start;
    height: calc(100vh - 50px);
  }
}

@media only screen and (max-width: 600px) {
  .section-container {
    scroll-snap-align: start;
    height: calc(100vh - 100px);
  }

  .section-container .intro {
    height: 60vh;
    background-color: unset;
    width: 400px;
    position: absolute;
    bottom: unset;
    left: unset;
  }

  .section-container .explanation {
    padding: 100px 33px 0px 33px;
  }
}
