@font-face {
    font-family: 'nk57';
    src: url('../../assets/nk57-monospace-no-eb.ttf'); /* IE9 Compat Modes */
}

*{
    font-family: "nk57";
    font-size: 32px;
    color: #ffffff;
    letter-spacing: 4px;
}

.home-container{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    -ms-scroll-snap-type: y mandatory;
    scroll-snap-type: y mandatory;
}

.section-container{
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.section-container .img-filter{
    width: 100%;
    height: 100%;
    background-color: #2928289c;
    position: absolute;
    z-index: -1;
}

.img-filter::after{
    background: linear-gradient(to top,  #292828 0%,rgba(255,255,255,0) 100%);
    bottom: 0;
    content: "";
    height: 100px;
    position: absolute;
    width: 100vw;
}

.section-container .img-container{
    position: absolute;
    z-index: -2;
}

.img-container{
    position: absolute;
    z-index: -2;
}

.img-example{
 height: 100%;
}
.section-container .intro{
    height: 60vh;
    background-color: #111;
    width: 400px;

    position: absolute;
    bottom: 0px;
    left: 200px;
}

.intro .top{
    height: 10%;
    overflow: hidden;
}

@keyframes leet-scroll-left {
    0% { transform: translateX(0); }
    100% { transform: translateX(-300px)}
}
.leet-carrousel{
    animation: leet-scroll-left 25s linear infinite;
}

.leet-carrousel span{
    font-size: 6px;
    margin-right: 5px;
}


.intro .main{
    height: 90%;
    padding: 0px 20px;
}


@keyframes wait-and-show {
    0% { opacity: 0; }
    100% { opacity: 1;}
}

.intro-description{
    opacity: 0;
    animation: wait-and-show 3s 5s forwards ;
}

.main .text{
    margin: 0;
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.orange{
    color: orange;
}
.green{
    color: #4dfe28;
}
.blue{
    color: #28feea;
}
.black{
    color: #111;
}


.home-container .section-container{
    height: 100vh;
    position: relative;
}

.section-container .explanation{
    width: 100%;
    padding-left: 10vw;
    padding-top: 100px;
}

.description{
    font-size: 16px;
}

.section-container .center{
    margin-top: 80px;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.left-box{
    height: 100%;
    width: 40%;
    background-color: #1c1b1b;
    float: left;
    padding-top: 100px;
    padding-left: 44px;
}

.right-box{
    height: 100%;
    width: 60%;
    float: left;
    padding-left: 140px;
    overflow: scroll;
}

.right-box .center{
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: flex-start;
}

.timeline {
    height: 12px;
    width: 300%;
    background-color: orange;
}
  
.timeline-items {
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -12px;
    display: flex;
    justify-content: space-between;
}

.timeline-item {
    position: relative;
}

.timeline-item::before {
    content: '';
    background-color: #ccc;
    display: block;
    border-radius: 100%;
}

.timeline-content {
    position: absolute;
    top: 33px;
    left: 50%;
    transform: translateX(-40%);
    background-color: orange;
    width: 100px;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
}

.timeline-last-item{
    transform: translateX(-60%);
}

.timeline-down{
    top: -27px;
}
.timeline-content::before {
    content: '';
    width: 10px;
    height: 10px;
    background-color: orange;
    display: block;
    position: absolute;
    margin-left: -2px;
    left: 50%;
    transform: rotate(-45deg) translateX(-50%);
}

.timeline-down::before {
    bottom: -1px;
    top: auto !important;
}

.timeline-up::before {
    top: -8px;
}