.me-container * {
  letter-spacing: 2px;
}

.me-container * span {
  font-size: 0.5em;
}

.me-container * ul {
  margin: 8px 0px;
}

.me-container * ul li {
  font-size: 0.5em;
  margin-top: 5px;
}

.me-container .section-container {
  overflow: scroll;
}

.myself-container {
  display: flex;
  flex-flow: row;
  width: 60%;
}
.profPic-container {
  width: 512px;
  height: 400px;
  overflow: hidden;
  background-position: 50%;
  background-size: cover;
}

.my-desc {
  width: 50%;
}

.my-desc .center {
  margin-top: 0px;
}

.short-desc {
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: #f8a8ff 0px 0px 20px;
  width: 80%;
  text-align: center;
  background-color: white;
}

.short-desc span {
  font-style: italic;
  font-size: 0.45em !important;
  color: #292828;
  line-height: 3.45em;
}

.about-me {
  margin-top: 30px;
  width: 80%;
}

.my-music {
  width: 80%;
}

.long-desc {
  line-height: 0.6em;
  margin-top: 40px;
}

@media only screen and (max-width: 1367px){
  .me-container .section-container {
    padding-bottom: 150px;
  }

  .me-container .section-container > .center {
    margin-top: 60px;
  }

  .me-container * ul{
    padding: 0px;
    font-size: 0.85em;
  }
}

@media only screen and (max-width: 1281px) {
  .myself-container {
    width: 80%;
  }
}

@media only screen and (max-width: 900px) {
  .myself-container {
    display: flex;
    flex-flow: column;
    width: 90%;
    margin-top: 50px;
  }

  .profPic-container {
    width: 100%;
  }

  .my-desc {
    margin-top: 50px;
    width: 100%;
  }
  .about-me {
    width: 100%;
  }
  .my-music {
    width: 100%;
  }
  .long-desc {
    margin-top: unset;
  }
}

@media only screen and (max-height: 376px) {
  .myself-container {
    display: flex;
    flex-flow: column;
    width: 90%;
    margin-top: 50px;
  }

  .profPic-container {
    width: 100%;
  }

  .my-desc {
    margin-top: 50px;
    width: 100%;
  }
  .about-me {
    width: 100%;
  }
  .my-music {
    width: 100%;
  }
  .long-desc {
    margin-top: unset;
  }
}
