@font-face {
  font-family: "PIX-L";
  src: url("../../assets/PIX-L___.otf"); /* IE9 Compat Modes */
}

.header {
  width: 100%;
  padding-left: 16px;
  background-color: #111;
  position: fixed;
  height: 32px;
  z-index: 3;
}
.header .left {
  height: 32px;
  float: left;
  display: flex;
}

.header .left a{
  display: flex;
  margin: auto;
}

.header .left span {
  font-family: "PIX-L";
  color: #f0ffff;
  font-size: 0.6em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-right: 2px solid white;
  padding: 0px 10px 5px 10px;
  line-height: 10px;
}

.header .left span:hover { text-decoration: underline; }

.header .right {
  float: right;
  width: 200px;
  text-align: center;
}

.header .right a {
  margin-right: 10px;
}
.header .right img {
  margin-bottom: 3px;
}


@media only screen and (max-width: 600px) {
  .header {
    padding-left: unset;
  }
  .header .left span {
    font-size: 0.5em;
    padding: 0px 10px 0px 10px;
  }
  .header .right {
    width: 120px;
  }

  .header .right a svg {
    width: 0.8em;
  }
  .header .right img {
    margin-bottom: unset;
  }
}
