
.scroll-box{
    height: 60%;
    width: 99vw;
    overflow: scroll;
    margin-top: 100px;
}

.timeline-box{
    height: 50%;
    width: 100%;
    display: flex;
}

.left-box{
    height: 100%;
    width: 50%;
    border-right: solid 5px #111 ;
}

.left-title{
    position: relative;
}

.left-desc{
    display: flex;
}

.left-box .timeline-title{
    float: right;
    top: 50%;
    position: relative;
    margin-right: 20px;
}

.timeline-description{
    max-width: 80%;
    display: block;
    font-size: 20px;
    margin: auto;
}

.right-box{
    height: 100%;
    width: 50%;
    border-left: solid 5px orange ;
    align-items: center;
    display: flex;
}

.right-box .timeline-title{
    margin-left: 20px;
}
.right-box .timeline-description{
    margin-left: 20px;
}

.timeline-title {
    background-color: orange;
    font-size: 20px;
    width: 50%;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
}


/*
.timeline-title::before {
    content: '';
    width: 10px;
    height: 10px;
    background-color: orange;
    display: block;
    position: absolute;
    margin-left: -2px;
    left: 50%;
    transform: rotate(-45deg) translateX(-50%);
}*/
