.scroll-box {
  height: 60%;
  width: 99vw;
  margin-top: 100px;
  overflow-x: hidden;
  overflow-y: scroll;
}
.timeline-box {
  height: 50%;
  width: 100%;
  display: flex;
}

.left-box {
  height: 100%;
  width: 50%;
  border-right: solid 5px #111;
}

.left-title {
  position: relative;
}

.left-desc {
  display: flex;
}

.left-box .timeline-title {
  float: right;
  top: 50%;
  position: relative;
  margin-right: 20px;
}

.timeline-description {
  max-width: 80%;
  display: block;
  font-size: 0.5em;
  margin: auto;
}

.right-box {
  height: 100%;
  width: 50%;
  border-left: solid 5px orange;
  align-items: center;
  display: flex;
}

.right-box .timeline-title {
  margin-left: 20px;
}
.right-box .timeline-description {
  margin-left: 20px;
}

.right-box a {
  width: 100%;
}

.timeline-title {
  max-width: 500px;
  display: flex;
  padding: 5px 10px;
  background-color: orange;
  width: fit-content;
  border-radius: 5px;
  text-shadow: 1px 1px 3px blue;
  min-width: 150px;
}

.timeline-title span {
  line-height: 20px;
  text-align: center;
  width: 100%;
  font-size: 0.5em;
}

a .timeline-title {
  box-shadow: 8px 8px 6px black;
  text-decoration: underline;
}

a .timeline-title:hover {
  transform: scale(1.02);
  background-color: rgb(220, 143, 0);
}

@media only screen and (max-width: 1080px) {
  .timeline-title span {
    font-size: 0.4em;
  }
}

@media only screen and (max-width: 700px) {
  .timeline-box {
    height: 75%;
  }
}

@media only screen and (max-width: 600px) {
  .timeline-title {
    width: 85%;
  }

  .scroll-box {
    height: 55%;
    margin-top: 50px;
    padding-bottom: 50px;
  }

  .timeline-description {
    font-size: 0.45em;
  }
}

@media only screen and (max-height: 400px) {
  .timeline-box {
    height: 75%;
  }

  .scroll-box {
    height: 40%;
    margin-top: 50px;
  }
  .timeline-description {
    font-size: 0.45em;
  }
}

@media only screen and (max-width: 400px) {
  .timeline-description {
    font-size: 0.4em;
  }
}

/*
.timeline-title::before {
    content: '';
    width: 10px;
    height: 10px;
    background-color: orange;
    display: block;
    position: absolute;
    margin-left: -2px;
    left: 50%;
    transform: rotate(-45deg) translateX(-50%);
}*/
